<div class="container">
    <div class="row">
      <div id="carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel" data-slide-to="0" class="active"></li>
          <li data-target="#carousel" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="d-none d-lg-block">
              <div class="slide-box">
                <img src="./assets/images/lap1.jpg" alt="First slide">
                <img src="./assets/images/laptop.jpg" alt="First slide">
                <img src="./assets/images/lap3.jpg" alt="First slide">
                <img src="./assets/images/lap4.jpg" alt="First slide">
              </div>
            </div>
            <div class="d-none d-md-block d-lg-none">
              <div class="slide-box">
                <img src="./assets/images/lap1.jpg" alt="First slide">
                <img src="./assets/images/laptop.jpg" alt="First slide">
                <img src="./assets/images/lap3.jpg" alt="First slide">
              </div>
            </div>
            <div class="d-none d-sm-block d-md-none">
              <div class="slide-box">
                <img src="./assets/images/lap1.jpg" alt="First slide">
                <img src="./assets/images/laptop.jpg" alt="First slide">
              </div>
            </div>
            <div class="d-block d-sm-none">
              <img class="d-block w-100" src="./assets/images/lap1.jpg" alt="First slide">
            </div>
          </div>
          <div class="carousel-item">
            <div class="d-none d-lg-block">
              <div class="slide-box">
                <img src="./assets/images/lap5.jpg" alt="Second slide"height="240px">
                <img src="./assets/images/lap6.jpg" alt="Second slide">
                <img src="./assets/images/lap7.jpg" alt="Second slide">
                <img src="./assets/images/lap8.jpg" alt="Second slide">
              </div>
            </div>
            <div class="d-none d-md-block d-lg-none">
              <div class="slide-box">
                <img src="./assets/images/lap4.jpg" alt="Second slide">
                <img src="./assets/images/lap5.jpg" alt="Second slide">
                <img src="./assets/images/lap6.jpg" alt="Second slide">
              </div>
            </div>
            <div class="d-none d-sm-block d-md-none">
              <div class="slide-box">
                <img src="./assets/images/lap2.jpg" alt="Second slide">
                <img src="./assets/images/lap4.jpg" alt="Second slide">
              </div>
            </div>
            <div class="d-block d-sm-none">
              <img class="d-block w-100" src="./assets/images/laptop.jpg" alt="Second slide">
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>



  <main>
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/lenovo.jpeg" class="card-img-top" alt="...">
                  <div class="label-top shadow-sm">Lenovo</div> 
                  <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">44,990</span> <span class="float-end price-hp">Reviews</span> </div>
                        <h5 class="card-title">Lenovo ideaPad Core i3 10th Gen-(8GB/1TB HDD/256GB SSD Windows 10)</h5>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">ADD TO CART</a> </div>
                        <div class="clearfix mb-1"> <span class="float-start"><i class="far fa-question-circle"></i></span> <span class="float-end"><i class="fas fa-plus"></i></span> </div>
                      </div>
                </div>
            </div>
            
            <div class="col">
              <div class="card h-100 shadow-sm"> <img src="./assets/images/hp.jpeg" class="card-img-top" alt="...">
                  <div class="label-top shadow-sm">HP</div>
                  <div class="card-body">
                      <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">41,990</span> <span class="float-end"><a href="#" class="small text-muted">Reviews</a></span> </div>
                      <h5 class="card-title">HP 14s Core i3 10th Gen-(8GB/1TB HDD/256GB SSD Windows 10)</h5>
                      <div class="text-center my-4"> <a href="#" class="btn btn-warning">ADD TO CART</a> </div>
                      <div class="clearfix mb-1"> <span class="float-start"><i class="far fa-question-circle"></i></span> <span class="float-end"><i class="fas fa-plus"></i></span> </div>
                  </div>
              </div>
          </div>
            
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/asus.jpeg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">Asus Rog</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">74,990</span> <span class="float-end"><a href="#" class="small text-muted">Reviews</a></span> </div>
                        <h5 class="card-title">ASUS ROG Strix G15 Core i7 10th Gen-(8GB/1TB HDD/256GB SSD Windows 10)</h5>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">ADD TO CART</a> </div>
                        <div class="clearfix mb-1"> <span class="float-start"><i class="far fa-question-circle"></i></span> <span class="float-end"><i class="fas fa-plus"></i></span> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/dell.jpeg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">DELL</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">62,990</span> <span class="float-end"><a class="text-muted small" href="#">Reviews</a></span> </div>
                        <h5 class="card-title">DELL Inspiron Core i7 11th Gen-(8GB/1TB HDD/256GB SSD Windows 10)</h5>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">ADD TO CART</a> </div>
                        <div class="clearfix mb-1"> <span class="float-start"><i class="far fa-question-circle"></i></span> <span class="float-end"><i class="fas fa-plus"></i></span> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>



<!-- Page Content -->
<div class="container">

  <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Thumbnail Gallery</h1>

  <hr class="mt-2 mb-5">

  <div class="row text-center text-lg-left">

    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-80">
            <img class="img-fluid img-thumbnail" src="./assets/images/asusc.jpeg" alt=""height="200px">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-80">
            <img class="img-fluid img-thumbnail" src="./assets/images/hp15.jfif" alt=""height="100px">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="./assets/images/asus.jpeg" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="./assets/images/hpg.jpeg" alt="">
          </a>
    </div>
  
    
  </div>

</div>
<!-- /.container -->