
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

<div class="container-fluid bg-primary text-white mt-5 py-1 px-sm-1 px-md-5"> 
    <div class="container text-center py-5"> 
     <div class="d-flex justify-content-center mb-4"> 
      <a class="btn btn-light btn-social mr-2" href="https://twitter.com/?lang=en"><i class="fab fa-twitter"></i></a> 
      <a class="btn btn-light btn-social mr-2" href="https://www.facebook.com/campaign/landing.php?&campaign_id=973072061&extra_1=s%7Cc%7C256741341326%7Ce%7Cfacebook%7C&placement&creative=256741341326&keyword=facebook&partner_id=googlesem&extra_2=campaignid%3D973072061%26adgroupid%3D54006406691%26matchtype%3De%26network%3Dg%26source%3Dnotmobile%26search_or_content%3Ds%26device%3Dc%26devicemodel%3D%26adposition%3D%26target%3D%26targetid%3Dkwd-297690534863%26loc_physical_ms%3D1007740%26loc_interest_ms%3D%26feeditemid%3D%26param1%3D%26param2%3D&gclid=EAIaIQobChMItaCJypmu8QIVDT5gCh1JMgk0EAAYASAAEgJxC_D_BwE"><i class="fab fa-facebook-f"></i></a> 
      <a class="btn btn-light btn-social mr-2" href="https://in.linkedin.com/"><i class="fab fa-linkedin-in"></i></a> 
      <a class="btn btn-light btn-social" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a> 
    
    </div> 
     <div class="d-flex justify-content-center mb-3"> 
      <a class="text-white" href="#">Privacy</a> 
      <span class="px-3">|</span> 
      <a class="text-white" href="#">Terms</a> 
      <span class="px-3">|</span> 
      <a class="text-white" href="#">FAQs</a> 
      <span class="px-3">|</span> 
      <a class="text-white" href="#">Help</a> 
     </div> 
     <p class="m-0">© <a class="text-white font-weight-bold" href="#">Electro.</a>. All Rights Reserved. Designed by <a class="text-white font-weight-bold" href="#">Naveen</a> </p> 
    </div> 
   </div>
</body>
</html>