<div class="container">
    <div class="row">
      <div id="carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel" data-slide-to="0" class="active"></li>
          <li data-target="#carousel" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="d-none d-lg-block">
              <div class="slide-box">
                <img src="./assets/images/img5.jfif" alt="First slide">
                <img src="./assets/images/img6.jfif" alt="First slide">
                <img src="./assets/images/img7.jfif" alt="First slide">
                <img src="./assets/images/img8.jfif" alt="First slide">
              </div>
            </div>
            <div class="d-none d-md-block d-lg-none">
              <div class="slide-box">
                <img src="./assets/images/img9.jfif" alt="First slide">
                <img src="./assets/images/img6.jfif" alt="First slide">
                <img src="./assets/images/img7.jfif" alt="First slide">
              </div>
            </div>
            <div class="d-none d-sm-block d-md-none">
              <div class="slide-box">
                <img src="./assets/images/img5.jfif" alt="First slide">
                <img src="./assets/images/img6.jfif" alt="First slide">
              </div>
            </div>
            <div class="d-block d-sm-none">
              <img class="d-block w-100" src="./assets/images/img5.jfif" alt="First slide">
            </div>
          </div>
          <div class="carousel-item">
            <div class="d-none d-lg-block">
              <div class="slide-box">
                <img src="./assets/images/img9.jfif" alt="Second slide"height="285px">
                <img src="./assets/images/img10.jfif" alt="Second slide">
                <img src="./assets/images/img11.jfif" alt="Second slide">
                <img src="./assets/images/img12.jfif" alt="Second slide">
              </div>
            </div>
            <div class="d-none d-md-block d-lg-none">
              <div class="slide-box">
                <img src="./assets/images/img8.jfif" alt="Second slide">
                <img src="./assets/images/img9.jfif" alt="Second slide">
                <img src="./assets/images/img10.jfif" alt="Second slide">
              </div>
            </div>
            <div class="d-none d-sm-block d-md-none">
              <div class="slide-box">
                <img src="./assets/images/img7.jfif" alt="Second slide">
                <img src="./assets/images/img8.jfif" alt="Second slide">
              </div>
            </div>
            <div class="d-block d-sm-none">
              <img class="d-block w-100" src="./assets/images/img6.jfif" alt="Second slide">
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>


  <main>
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/lumix.jpg" class="card-img-top" alt="..."height="275px">
                  <div class="label-top shadow-sm">Panasonic</div> 
                  <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">60,490</span> <span class="float-end price-hp">Reviews</span> </div>
                        <h5 class="card-title">Panasonic Lumix G100 4K Mirrorless Vlogging Camera(Black)</h5>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">ADD TO CART</a> </div>
                       </div>
                </div>
            </div>
            
            <div class="col">
              <div class="card h-100 shadow-sm"> <img src="./assets/images/canon.jpg" class="card-img-top" alt="...">
                  <div class="label-top shadow-sm">Canon</div>
                  <div class="card-body">
                      <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">41,990</span> <span class="float-end"><a href="#" class="small text-muted">Reviews</a></span> </div>
                      <h5 class="card-title">Canon EOS 1500D Digital SLR Camera</h5>
                      <div class="text-center my-4"> <a href="#" class="btn btn-warning">ADD TO CART</a> </div>
                     </div>
              </div>
          </div>
            
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/nikon.jpg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">Nikon</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">74,990</span> <span class="float-end"><a href="#" class="small text-muted">Reviews</a></span> </div>
                        <h5 class="card-title">Nikon D5600 Digital SLR Camera</h5>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">ADD TO CART</a> </div>
                       </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img5.jfif" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">Canon</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">62,990</span> <span class="float-end"><a class="text-muted small" href="#">Reviews</a></span> </div>
                        <h5 class="card-title">Canon EOS 200D Digital SLR Camera</h5>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">ADD TO CART</a> </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</main>